[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = iso-7816 test app
[access "refs/*"]
	owner = group user/Eric.park (pjsin)
	owner = group user/Eric.park (pjsin)
	owner = group user/Eric.park (pjsin)
	owner = group user/Eric.park (pjsin)
	owner = group user/KwangHyuk, An (ponytail2k)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/KwangHyuk, An (ponytail2k)
	label-Verified = -1..+1 group user/KwangHyuk, An (ponytail2k)
	push = group user/KwangHyuk, An (ponytail2k)
	read = group user/KwangHyuk, An (ponytail2k)
	rebase = group user/KwangHyuk, An (ponytail2k)
	removeReviewer = group user/KwangHyuk, An (ponytail2k)
	submit = group user/KwangHyuk, An (ponytail2k)
[access "refs/heads/*"]
	create = group user/KwangHyuk, An (ponytail2k)
	push = +force group user/KwangHyuk, An (ponytail2k)
	pushMerge = group user/KwangHyuk, An (ponytail2k)
	read = group user/KwangHyuk, An (ponytail2k)
[access "refs/tags/*"]
	push = group user/KwangHyuk, An (ponytail2k)
	push = +force group user/KwangHyuk, An (ponytail2k)
